<section class="container">
    <div class="my-5 text-center">
      <span class="h6 d-block">POSSUI ALGUMA DÚVIDA?</span>
      <h2 class="display-4 text-primary">Fale Conosco</h2>
    </div>
    <div class="row"> 
      <div class="col-lg mb-5">
        <form class="bg-light rounded p-4 box-shadow" action="">
          <div class="form-group">
            <label for="clienteNome">Nome</label>
            <input type="text" class="form-control" id="clienteNome" >
          </div>
          <div class="form-group">
            <label for="clienteEmail">Email</label>
            <input type="email" class="form-control" id="clienteEmail" >
          </div>
          <div class="form-group">
            <label for="clienteMensagem">Mensagem</label>
            <textarea id="clienteMensagem" class="form-control" rows="4"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
     
    </div>
  </section>
  
  
  
  <section class="container">
    <div class="my-5 text-center">
      <span class="h6 d-block">AINDA ESTÁ COM DÚVIDAS?</span>
      <h2 class="display-4 text-primary">Perguntas Frequentes</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6" id="perguntasFrequentes" data-children=".pergunta">
        <div class="pergunta py-2">
          <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta1" aria-expanded="true" aria-controls="pergunta1">→O que é o Localiza Babá ?</a>
          <div id="pergunta1" class="collapse show" role="tabpanel">
            <p>O Localiza Babá é uma plataforma online onde você pode encontrar com facilidade uma babá na sua região. É uma plataforma para expandir seus horizontes - a babá ideal pode estar muito perto e você nem sabe</p>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="pergunta py-2">
          <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta2" aria-expanded="true" aria-controls="pergunta2">→O aplicativo representa algum tipo de compromisso ?</a>
          <div id="pergunta2" class="collapse" role="tabpanel">
            <p>Não. A inscrição não implica em quaisquer obrigações, é gratuita e sem compromisso. Você decide se quer concordar com uma entrevista com pais ou babás na sua região. Encontrar uma babá ou uma família depende totalmente de você.</p>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="pergunta py-2">
          <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta3" aria-expanded="true" aria-controls="pergunta3">→Como é feita a seleção dos pais e babás ?</a>
          <div id="pergunta3" class="collapse" role="tabpanel">
            <p>Nós do a localizababa agimos proporcionando um mercado de babás e pais online. Todos podem se inscrever ou enviar mensagens. avaliamos os usuários previamente, verificamos com regularidade se textos inapropriados estão sendo publicados por alguém. Cabe aos pais e babás fazerem uma seleção daquilo que procura. Aconselhamos a trabalhar essa seleção com cuidado, por exemplo, pedindo referências e planejando uma entrevista. Desta forma, você terá uma melhor imagem de uma babá ou família em potencial.</p>
          </div>
        </div>
        <div class="dropdown-divider"></div>
               
      
      </div>
    </div>      
  </section>