  
  <section class="container">
    <div class="my-5 text-center">
      <span class="h6 d-block">AINDA ESTÁ COM DÚVIDAS?</span>
      <h2 class="display-4 text-primary">Perguntas Frequentes</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6" id="perguntasFrequentes" data-children=".pergunta">
        <div class="pergunta py-2">
          <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta1" aria-expanded="true" aria-controls="pergunta1">→ É possível Encontrar uma babá sem sair de casa ?</a>
          <div id="pergunta1" class="collapse show" role="tabpanel">
            <p>Claro que é possível como o nosso app você encontra as melhores babás com referências na palma da sua mão!</p>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="pergunta py-2">
          <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta2" aria-expanded="true" aria-controls="pergunta2">→ Qual a garantia que a babá é de confiança?</a>
          <div id="pergunta2" class="collapse" role="tabpanel">
            <p>Sim, temos uma política segura e confiável em relação as prestadoras de serviços.</p>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="pergunta py-2">
          <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta3" aria-expanded="true" aria-controls="pergunta3">→ Quais são as exigências mais procuradas pelos pais ?</a>
          <div id="pergunta3" class="collapse" role="tabpanel">
            <p>Buscamos pessoas integras e sem histórico policial, sempre investigamos as referências, os pais sempre buscam pelo histórico que é disponibilizado no site.</p>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="pergunta py-2">
          <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta4" aria-expanded="true" aria-controls="pergunta4">→ Quais os problemas mais relatados pelas babás?</a>
          <div id="pergunta4" class="collapse" role="tabpanel">
            <p>Acredito que quase 90% das das poucas ocorrências é a forma de pagamento..</p>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="pergunta py-2">
          <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta5" aria-expanded="true" aria-controls="pergunta5">→ Qual a sua responsabilidade com os usuários e babás que estão no aplicativo?</a>
          <div id="pergunta5" class="collapse" role="tabpanel">
            <p>Nós sempre estamos em contato com todos os lados e procuramos resolver da melhor forma possível.</p>
          </div>
        </div>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <div class="text-center my-4">
      <p class="small m-1">FALE CONOSCO PARA MAIS DÚVIDAS</p>
      <a class="btn btn-primary btn-lg" href="contato.html">Entre em Contato</a>
    </div>
  </section>
