<!--  Modal   -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginTitulo" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLoginTitulo">Entre na Sua Conta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="loginEmail">Email</label>
              <input type="email" class="form-control" id="loginEmail">
            </div>
            <div class="form-group">
              <label for="loginSenha">Senha</label>
              <input type="password" class="form-control" id="loginSenha">
            </div>
            <button type="submit" class="btn btn-primary">Entrar na Conta</button>
            <small class="form-text text-muted">Esqueceu a senha? <a href="#">Clique aqui</a>.</small>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Fecha Modal  -->
  
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top py-3 box-shadow">
    <a href="index.html" class="navbar-brand">
      <img src="https://i.imgur.com/PudkuLS.png" alt="Localiza Babá">
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Abrir Navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Locais</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="local.html">California</a>
            <a class="dropdown-item" href="local.html">Paris</a>
            <a class="dropdown-item" href="local.html">Dublin</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="planos.html">Planos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contato.html">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#modalLogin">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary ml-md-2" href="inscricao.html">Inscreva-se</a>
        </li>
      </ul>
    </div>
  </nav>
